node_modules
npm-debug.log
lerna-debug.log
myrmex.log
coverage
reports
doc

!test/**/node_modules

demo/dev-env/*
!demo/dev-env/node_modules
!demo/dev-env/myrmex.json
!demo/dev-env/package.json
!demo/dev-env/run.sh
!demo/dev-env/env.list.example
!demo/dev-env/README.md
