html {
  font-family: 'Roboto', sans-serif
}

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}


.navigation .manual-toc li.indent-h4 {
  display: none;
}

.layout-container > header > a.myrmex-home {
  font-size: 0;
  display: inline-block;
  width: 120px;
  height: 40px;
  background: url(../../manual/asset/myrmex-small.png) no-repeat center;
  background-size: 120px;
  vertical-align: top;
}

.navigation {
  width: 400px;
}

.navigation li {
  white-space: normal;
}

.content {
  margin-left: 400px;
}

p > code, li > code {
  color: #ff6600;
}

.manual-user-index img{
  box-shadow: none !important;
}


.manual-color-tutorial {
  color: #008f98;
  background-color: #c0e1e6;
}


/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #de935f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b5bd68;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b294bb;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
